<h1>New game</h1>
<div class="letters">
    <% @letters.each do |letter| %>
  <div class="each">
    <p> <%= letter.capitalize %> </p>
</div>
<% end %>
</div>
<h3>What is the longest word you can find?</h3>
</div>

