<h1>New game</h1>
<div class="letters">
    <% @letters.each do |letter| %>
  <div class="each">
    <p> <%= letter.capitalize %> </p>
</div>
<% end %>
</div>
<h3>What is the longest word you can find?</h3>
</div>
  <form action="score" method="post" id="try">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
      <input type="text" name="word">
      <input type="submit" value="Play">
  </form>

